body{
    background-image: url("../img/fondo_web.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main-section{
    margin:0 auto;
    margin-top:50%;
    padding: 0;
}

.modal-content{
    background-color: #4a3074;
    padding: 0 20px;
    box-shadow: 15px 10px 18px #363535;
}

.user-img{
    margin-top:-50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 5px #363535;
    border-radius: 50%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius:5px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 20px;
    padding-top:4px;
}

.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}
button{
    width: 60%;
    margin: 5px 0 25px;
}

.btn{
    background-color:#ee0979;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}

.volver{
    padding: 5px 0;
}

.volver a{
    color: white;
}
