<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hostal Doña Clarita</title>
  
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/css/styles.css' %}"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand a" href="{% url 'home' %}">
                    <img src="{% static 'core/img/logo.png' %}" style="width: 60px;">
                </a>
                <a class="navbar-brand" href="{% url 'home' %}">Hostal Doña Clarita</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'habitaciones' %}">Habitaciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Promociones</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Modulos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registrate' %}">Registrate</a></li>
                    </ul>
                </div>
            </div>

        </nav>
        
        <div id="contenido">

            {% block contenido %}
            {% endblock %}

        </div>   
        
        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-5" ><p class="m-0 text-center text-white small" style="color:black">Copyright &copy; Los pixies 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'core/js/scripts.js' %}"></script>

        
    </body>
</html>
