{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
        <!-- Navigation-->

        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <p class="masthead-subheading mb-0">
                        <h1 style="margin-bottom:9px;">HABITACIONES</h1>
                        <h2 style="margin-bottom:25px;">La mayor comodidad que podras encontrar!</h2>
                        <h4>En esta sección encontrarás todo lo referente a nuestras categorias de habitaciones y sus caracteristicas.
                        </h4>
                    </p>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">¿Quieres conocer nuestras Habitaciones?</a>
                </div>
            </div>
    
        </header>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
    <div id="scroll">
        <div class="contenedor"><div class="tabla">
            <h2>Servicio basico</h2>
            <img src="{% static 'core/img/precio1.png' %}" alt="">
            <h3>$80.000</h3>
            <p>Habitacion basica, equipada con lo primordial para tu estadia.</p>
            <a href="" class="boton">comprar</a>
        </div>
        <div class="tabla">
            <h2>Servicio estandar</h2>
            <img src="{% static 'core/img/precio2.png' %}" alt="">
            <h3>$110.000</h3>
            <p>Habitacion estandar, equipada con algunas mejoras, para disfrutar aun mas tu estadia.</p>
            <a href=""class="boton">comprar</a>
        </div>
        <div class="tabla">
            <h2>Servicio Premium</h2>
            <img src="{% static 'core/img/precio3.png' %}" alt="">
            <h3>$210.000</h3>
            <p>Habitacion equipada con lo mejor de lo mejor, posee todo para que nunca olvides tu estadia.</p>
            <a href=""class="boton">comprar</a>
        </div>
        </div>


        <h2 class="display-6 text-center mb-4">Compare los servicios</h2>
        
        <!--tabla comparativa-->
        <div class="tabla">
            <table class="table text-center">
              <thead>
                <tr>
                  <th style="width: 34%;"></th>
                  <th style="width: 22%;">Servicio basico</th>
                  <th style="width: 22%;">Servicio estandar</th>
                  <th style="width: 22%;">Servicio premium</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-start">Menu del dia:</th>
                  <td>✓</td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Menu a eleccion:</th>
                  <td></td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
              </tbody>
      
              <tbody>
                <tr>
                  <th scope="row" class="text-start">Menu premium:</th>
                  <td></td>
                  <td></td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Servicio al cuarto</th>
                  <td></td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Tina-Spa</th>
                  <td></td>
                  <td></td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Movilizacion</th>
                  <td>✓</td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

       

{% endblock %}