{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <p class="masthead-subheading mb-0">
                    <h1 style="margin-bottom:9px;">! BIENVENIDOS A HOSTAL DOÑA CLARITA!</h1>
                    <h2 style="margin-bottom:25px;">!Te atendemos como en tu propio hogar!</h2>
                    <h4>Somos un hostal dedicado a las empresa.
                        Nuestro objetivo es ser lideres en el mercado de la hosteleria para empresas,
                        Ofreciendo un gran numero de habitaciones a un gran costo para las empresas.
                    </h4>
                </p>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">¿Quieres saber mas de nosotros?</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'core/img/logo.png' %}" style="width: 350px;"/></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p>    
                                <h1>Misión</h1>
                                <h2> Nuestra mision dentro de la sociedad, es poder entregar el mejor servicio a las empresas y sus trabajadores,
                                Tomando en cuenta el costo que esto implica, ofreciendo el mejor precio-calidad del mercado.
                                </h2>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'core/img/logo.png' %}" style="width: 350px;"/></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h1>Visión.</h1>
                            <p>
                                <h2>Nuestra visión como empresa, es poder expandirnos a todo chile, teniendo así,
                                    una gran cantidad de empresas aliadas a convenios con nosotros, pudiendo facilitar la incorporacion
                                    de nuevos clientes a nuestros servicios.
                                </h2>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'core/img/logo.png' %}" style="width: 350px;"/></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h1>Valores De la Empresa:</h1>
                            <p>
                                <h2>
                                    Algunos de los valores de Doña Clarita son:
                                </h2>
                                <ul class="h2">
                                    <li>Servicio al cliente.</li>
                                    <li>Respeto al individuo.</li>
                                    <li>Luchar por la excelencia.</li>
                                    <li>Actuar con integridad, etc.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
        

{% endblock %}