<!DOCTYPE html>
<html>
    
<head>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	{% load static %}
    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}" >
	<title>Inicio De Sesión</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png" />
</head>

<body>
	<div class="modal-dialog text-center">
		<div class="col-sm-12 main-section">
			<div class="modal-content">
				<div class="col-12 user-img">
					<img src="{% static 'core/img/logo.png' %}">
				</div>
				<form class="col-12">
					<div class="form-group" id="user-group">
						<input type="text" class="form-control" placeholder="Nombre De Usuario">
					</div>

					<div class="form-group" id="contrasena-group">
						<input type="password" class="form-control" placeholder="Contrasena">
					</div>
					<button type="button" style="background-color: #ee0979; border-color: #ee0979;" class="btn btn-info" href="{% url 'home' %}" ><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
				</form>
				<div class="col-12 forgot">
					<a style="color:#fff">¿No Posees Cuenta? <a href="{% url 'registrate' %}"> Registrarse </a></a>
				</div>
				<div class="col-12 volver">
					<a href="{% url 'home' %}">Volver</a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>